.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin: 100px 50px;
}

.cart-container{
    background-color: rgb(164, 208, 226);
}

@media only screen and (max-width: 688px) {
    .shop-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .products-container{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    
    .cart-container{
      margin-top: 20px; 
      padding: 20px; 
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        
        
    }
}



