.cart{
    padding: 30px 20px;
    position: sticky;
    top: 0;
}

.cart-title{
    color: rgb(10, 10, 149);
}

.selected-item{
    font-weight: bold;
    text-align: center;
}

.btn-random{
    color: green;
    font-weight: 600;
    border: 2px solid green;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.btn-random:hover{
    color: white;
    background-color: green;
}

.btn-reset{
    color: red;
    font-weight: 600;
    border: 2px solid red;
    border-radius: 20px;
    padding: 5px 20px;
    margin-bottom: 10px;
}
.btn-reset:hover{
    color: white;
    background-color: red;
}