.product{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 1px gray;
    position: relative;
    

}

.product img{
    border-radius: 20px 20px 0 0;
   
}

.product-info{
    text-align: start;
    margin: 5px 20px 60px 20px;
    
}

.product-info h2{
    font-size: 25px;
    
}
.product-info p{
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
  
}

.btn-cart{
    width: 100%;
    height: 48px;
    font-weight: 700;
    color: white;
    background: rgb(34, 108, 138);
    border: 0;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
     
}

.btn-icon{
    margin-left: 5px;
}

.btn-cart:hover{
    background-color: blue;
}

