.header{
    background-color: rgb(4, 4, 219);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.title{
    font-weight: 700;
    color: yellow;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.link a{
    text-decoration: none;
    color: white;
    margin-left: 25px;
    font-weight: 400;
}

.link a:hover{
    color: orange;
    
}



@media only screen and (max-width: 688px) {
    
    .link{
        display: none;
    }
}